<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    {%- if page.layout == "ballot_page" -%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="footer-p">Area Ballot Info Collector:</p>
        {%- if page.contact -%}
          <ul class="contact-list">
            {%- if page.contact.name -%}
              <li class="p-name">{{ page.contact.name | escape }}</li>
            {%- endif -%}
            {%- if page.contact.email_extension -%}
              <li><a class="u-email" href="mailto:{{ page.contact.email_extension }}+{{ site.email }}">localballots+{{ page.contact.email_extension }}@gmail.com</a></li>
            {%- endif -%}
            {%- if page.contact.info  -%}
              <li><p class="footer-p">{{ page.contact.info }}</p></li>
            {%- endif -%}
            <li><p class="footer-p">If you are a candidate on this page and would like to dispute or correct any information
            presented, this is who to contact!</p></li>
          </ul>
        {%- endif -%}
      </div>

      <div class="footer-col footer-col-3 float-right">
        <ul class="contact-list">
          <li class="p-name">
            Questions about this project or <strong>want to get involved</strong>?
          </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <p class="footer-p">{{- site.description | escape -}}</p>
      </div>
    </div>

    {%- else -%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li class="p-name">
            Questions about this project or <strong>want to get involved</strong>?
          </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2" style="float: right;">
        <ul class="contact-list">
          <li><p>This is an <a href="https://github.com/sardination/local-voter-guide">open-source project</a></p></li>
          {%- include social.html -%}
        </ul>
      </div>
    </div>

    {%- endif -%}



  </div>

</footer>
