---
---
// Width of the content area
$content-width:    100% !default;

@import "{{ site.theme }}";

p {
    color: red;
}

.float-right{
    float: right;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-right: $spacing-unit * 2;
}